extends layout

block content
  div.container
    h1 About this site
  
    h2 How it works
    p Node.js handle network requests and maps them to particular route handles (using Express framework).
    p Here is a list of tutorials that describe what's happening here in details:
     li
      a(href="http://computer-vision-talks.com/2013/08/connecting-opencv-and-node-js-inside-cloud9-ide/") Connecting OpenCV and Node.js inside Cloud9 IDE
     li
      a(href="http://computer-vision-talks.com/2013/08/cloud-image-processing-using-opencv-and-node-js/") Cloud image processing using OpenCV and Node.js
      
