extends layout

block content
  div.container
    h1 API Documentation
    
    p.lead
        | API Documentation is temporary unavailable. 
        | Due to very early stage of development, the main focus is on making API versatile, 
        | robust and easy to use. Therefore it's about to change. Please refer to 
        a(href="https://github.com/CloudCV/api.cloudcv.io") api.cloudcv.io 
        | repository in order to get up to date API specifications.
        | Visit website: 
        a(href="https://github.com/CloudCV/api.cloudcv.io") api.cloudcv.io
        | .
