block variables
  - title="Image analysis demo - CloudCV"

extends layout

block content
    script.

        function renderDominantColorsResponse(error, response, imageSrc) {
            if (error) {
                $('#resultsPanel').hide(0);
                $('#processingErrorMessage').html(error.message);

                $('#processingError').show();
            }
            else {
                $('#processingError').hide(0);
                $('#sourceImage').attr('src', imageSrc);

                $('#dominantColors').empty();

                for (var i = 0; i < response.dominantColors.length; i++) {
                    var c = response.dominantColors[i];
                    $('#dominantColors').append('<div class="pull-left" style="width:100%; height:64px; background:'+c.html+'"></span>');
                }

                $('#response-raw').html(JSON.stringify(response, undefined, '\t'));

                $('#resultsPanel').show();

            } 
        }

        function extractDominantColorsFromUrl(imageUrl) {
            cloudcv.image.analyze.dominantColors(imageUrl, function(e, r) { renderDominantColorsResponse(e, r, imageUrl); });
        }

        function extractDominantColorsFromFile(image, file) {

            //var s = image.src;
            $('#selected-image').attr('src', URL.createObjectURL(file)).width(200).height(200);

            var imageBlob = cloudcv.common.getImageDataAsBlob(image);
            cloudcv.image.analyze.dominantColors(imageBlob,  function(e, r) { renderDominantColorsResponse(e, r, URL.createObjectURL(file)); });
        }

    div.container
        h1 Image analysis example

        p You may pick one of the existing images for a quick result from the following list or upload your own image. There is no limit on size of uploaded images for now. 
        p 
            | Please ready the 
            a(href='/privacy') privacy statement 
            | to feel safe about images you upload (in short: it's safe).

        form(method='post',id='process-image-form',enctype="multipart/form-data",style='opacity:0')                   
            input(type="file",name='image',id="file-selector",accept="image/*")
            input(type='submit')

        div.row
            each demoImage in example.availableImages
                div.col-sm-6.col-md-2
                    div.thumbnail
                        img(src="#{demoImage}",onclick="extractDominantColorsFromUrl('https://cloudcv.io' + '#{demoImage}')")

            div.col-sm-6.col-md-2
                div.thumbnail
                    img(id='selected-image',data-src='holder.js/128x128/gray/text:Upload image')
                    div.caption                            
                        button.btn.btn-primary(onclick="$('#file-selector').click();") Choose image 

        div.output(id="output",role='tabpanel')
            ul.nav.nav-tabs(role='tablist')
                li.active(role='presentation')
                    a(href="#home",aria-controls="home",role="tab",data-toggle="tab") Response
                li(role='presentation')
                    a(href="#raw",aria-controls="raw",role="tab",data-toggle="tab") Raw

            div.tab-content(id='resultsPanel')

                div.tab-pane.active(role="tabpanel",id="home")
                    h2 Analyze results
                        a(href='#content')

                    div.panel.panel-default
                        .panel-heading Source image
                        .panel-body
                            .row
                                .col-md-8       
                                    img(id='sourceImage',style='max-width:100%;max-height:512px')
                                .col-md-4(id='dominantColors')     

                    div.panel.panel-default(id='processingError')
                        h2 Problem encountered
                        p There was a problem while processing your request. Here's description message that may contain a hint on what went wrong.
                        p.lead(id='processingErrorMessage')

                div.tab-pane.active(role="tabpanel",id="raw")
                    h2 Raw output
                    pre(id='response-raw')

        h4 Tell us what do you think 
        include includes/disqus

block scripts
    script.
        $(document).ready(function () { 
            $('#processingError').hide(0);
            $('#resultsPanel').hide(0);
            cloudcv.common.bindHookOnFileInput('file-selector', extractDominantColorsFromFile);

            $('#output a').click(function (e) {
                e.preventDefault()
                $(this).tab('show')
            })
        });
