block variables
  - title="Image analysis demo - CloudCV"

extends layout

block content
    script.
        function extractDominantColors(imageUrl) {
            cloudcv.image.analyze.dominantColors(imageUrl, function(error, response) {
                if (error) {
                    $('#resultsPanel').hide(0);
                    $('#processingErrorMessage').html(error.message);

                    $('#processingError').show();
                }
                else {
                    $('#processingError').hide(0);
                    $('#sourceImage').attr('src', imageUrl);

                    $('#dominantColors').empty();

                    for (var i = 0; i < response.dominantColors.length; i++) {
                        var c = response.dominantColors[i];
                        $('#dominantColors').append('<span class="pull-left" style="width:32px; height:32px; background:'+c.html+'"></span>');
                    }

                    $('#resultsPanel').show();
                } 
            });
        }

    div.container
        h1 Image analysis example

        p You may pick one of the existing images for a quick result from the following list or upload your own image. There is no limit on size of uploaded images for now. 
        p 
            | Please ready the 
            a(href='/privacy') privacy statement 
            | to feel safe about images you upload (in short: it's safe).

        form(method='post',id='process-image-form',enctype="multipart/form-data",style='opacity:0')                   
            input(type="file",name='image',id="file-selector",accept="image/*")
            input(type='submit')

        div.row
            each demoImage in example.availableImages
                div.col-sm-6.col-md-2
                    div.thumbnail
                        img(src="#{demoImage}",onclick="extractDominantColors('https://cloudcv.io' + '#{demoImage}')")

            div.col-sm-6.col-md-2
                div.thumbnail
                    img(data-src='holder.js/128x128/gray/text:Upload image')
                    div.caption                            
                        button.btn.btn-primary(onclick="$('#file-selector').click();") Choose image 

        div.output(id="output")
            div.panel.panel-default(id='resultsPanel')
                h2 Analyze results
                    a(href='#content')

                div.panel.panel-default
                    .panel-heading Source image
                    .panel-body
                        .row
                            .col-md-2       
                                img(id='sourceImage')
                            .col-md-10       
                                div.row(id='dominantColors')

            div.panel.panel-default(id='processingError')
                h2 Problem encountered
                p.lead.
                    There was a problem while processing your request. Here's description message that may contain a hint on what went wrong.
                p(id='processingErrorMessage')

        h4 Tell us what do you think 
        include includes/disqus

block scripts
    script
        | $(document).ready(function () { 
        |   $('#processingError').hide(0);
        |   $('#resultsPanel').hide(0);
        |   document.getElementById('file-selector').addEventListener('change', function(e) { 
        |       console.log('file selected'); 
        |       var f = $('#process-image-form'); 
        |       console.log(f); 
        |       f.submit(); 
        |   });
        | });
