block footer

    nav.navbar.navbar-inverse.row-fluid.navbar-fixed-bottom
        div.container
            div.navbar-inner

                ul.nav.navbar-nav
                    li
                        a(href="/privacy") Privacy statement
                    li
                        a(href="/about") About

                ul.nav.navbar-nav.navbar-right
                    li
                        a(href="https://www.digitalocean.com/?refcode=b93faa829f80",alt="Digital Ocean",title="Support this site by purchasing yur own cloud with this referal link")
                            img(src="/images/digital-ocean-logo-white.png")

    script(src="//code.jquery.com/jquery-2.0.3.min.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")
    script(src="/javascripts/ga.js")
    script(src="/javascripts/holder.js")
    script(src="/javascripts/cloudcv.js")
