.container
    .footer
        hr(style='margin: 30px 0 10px 0;')
        p &copy;&nbsp;
            a(name='about') Ievgen Khvedchenia
            &nbsp;2013
            a(href="https://twitter.com/share",class="twitter-share-button",data-text="Check this demo cloud image processing using @OpenCV and Node.js",data-via="cvtalks",data-size="large",data-hashtags="OpenCV") Tweet
            a(href="http://computer-vision-talks.com") Computer Vision Talks
    
script(src="http://code.jquery.com/jquery-2.0.3.min.js")
script(src="/bootstrap/js/bootstrap.js")
script(src="/javascripts/ga.js")
script(src="/javascripts/twitter-share.js")

block footer