div.navbar.navbar-fixed-top.navbar-inverse
    div.container
        a.navbar-brand(href="#") CloudCV
            ul.nav.navbar-nav
                li
                    a(href="#about") About
                        
    //-span(id="forkongithub")
    //-    a(href="https://github.com/BloodAxe/CloudCV") Fork me on GitHub
