div.navbar.navbar-inverse
    div.container
        a.navbar-brand(href="/") CloudCV
        
        ul.nav.navbar-nav.navbar-right
            li
                a(href="http://ua.linkedin.com/in/cvtalks/")
                    i.icon-linkedin-sign
                    | &nbsp;Ievgen Khvedchenia
            li
                a(href="http://github.com/BloodAxe/CloudCV")
                    i.icon-github-alt
                    | &nbsp;CloudCV
            li      
                a(href="http://twitter.com/cvtalks")
                    i.icon-twitter
                    | &nbsp;@cvtalks


span(id="forkongithub")
    a(href="https://github.com/BloodAxe/CloudCV") Fork me on GitHub
