nav.navbar.navbar-default.navbar-inverse(role="navigation")
    div.container
        div.navbar-header
            button.navbar-toggle(type="button",data-toggle="collapse",data-target="#bs-example-navbar-collapse-1")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href="/") CloudCV

        //- Collect the nav links, forms, and other content for toggling
        div.collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
            ul.nav.navbar-nav
                li
                    a(href="/api/docs")
                        i.fa.fa-fighter-jet
                        |  API Docs                        
    
            ul.nav.navbar-nav.navbar-right
                li
                    a(href="http://ua.linkedin.com/in/cvtalks/")
                        i.fa.fa-linkedin
                        | &nbsp;Ievgen Khvedchenia
                li
                    a(href="http://github.com/BloodAxe/CloudCV")
                        i.fa.fa-github-alt
                        | &nbsp;CloudCV
                li      
                    a(href="http://twitter.com/cvtalks")
                        i.fa.fa-twitter
                        | &nbsp;@cvtalks


span(id="forkongithub")
    a(href="https://github.com/BloodAxe/CloudCV") Fork me on GitHub
