extends layout

block content
  div.container
    h1 Welcome to CloudCV demonstration
  
    div
      img.pull-left(src="/images/cloudcv-logo.png") Logo

      p.lead This website demonstrate interopability between Node.js and OpenCV library. It's hosted in the cloud environment. 
        | Here you will see that it's really simple to perform CPU-intense image processing routines in the cloud. 
        | A Node.js server handle client requests and calls C++ back-end. In this showcase demonstration you can try the following examples:
    
    h2 Examples
    div.row
      div.col-sm-6.col-md-3
        div.thumbnail
          img.img-thumbnail(src="/images/mandril-300x200.png",alt="...")
          div.caption
            h3 Image analysis
            p A simple image analysis that extracts key characteristics of the input image.
              | In this example the input image is analyzed and image histogram is built. 
            p
              a.btn.btn-success(href="/demo/analysis") Try example

      div.col-sm-6.col-md-3
        div.thumbnail
          img.img-thumbnail(src="/images/lena-300x200.png",alt="...")
          div.caption
            h3 Face Detection
            p Demonstration of simple face detection using Haar fetures and OpenCV CascadeDetector class. Recognition of faces will be added someday.
            p
              a.btn.btn-success(href="/demo/recognition") Try example



      div.col-sm-6.col-md-3
        div.thumbnail
          img.img-thumbnail(src="/images/sudoku-300x200.png",alt="...")
          div.caption
            h3 Sudoku solver
            p An online sudoku solver. This example demonstrate how to analyze the input image, recognize the sudoku puzzle and solve it using OpenCV.
            p
              a.disabled.btn.btn-primary(href="/demo/sudoku") Coming soon

      div.col-sm-6.col-md-3
        div.thumbnail
          img.img-thumbnail(src="/images/ar-demo-300x200.jpg",alt="...")
          div.caption
            h3 Augmented Reality
            p A demonstration of cloud-based Augmented Reality platform. All processing is done on the server and the results is shown on the web-page or mobile device.
            p
              a.disabled.btn.btn-primary(href="/demo/sudoku") Coming soon
              