doctype 5
html(lang="en")
  head
    title= title
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    //-link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.css')
    link(rel='stylesheet', href='/stylesheets/github-forkme.css')
    link(rel='stylesheet', href='/stylesheets/template.css')
  body
    include header
    block content
    include footer

