doctype 5
html(lang="en")
    block variables
    head
        - var title = title || "CloudCV - Cloud image processing platform"
        title #{title}
        
        meta(name="viewport",content="width=device-width, initial-scale=1.0")
        
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css')

        link(rel='stylesheet', href='/stylesheets/github-forkme.css')        
        link(rel='stylesheet', href='/stylesheets/template.css')

    body
        include header
        block content
        include footer

