block variables
  - title="Privacy statement - CloudCV"

extends layout

block content
  div.container
    h1 Privacy statement
  
    p CloudCV will never, under any circumstances:
    ul
      li Save, store and distribute uploaded images to trird-parties. As much as possible all image processing will be performed in-memory.