extends layout

block content
  h1 Welcome to CloudCV demonstration
  
  img(src="http://computer-vision-talks.com/wp-content/uploads/2013/08/logo-1.png") Logo
  p This page demonstrate interopability between Node.js and OpenCV. 
  
  h2 How it works
  p Node.js handle network requests and maps them to particular route handles (using Express framework).
  p Here is a list of tutorials that describe what's happening here in details:
   li
    a(href="http://computer-vision-talks.com/2013/08/connecting-opencv-and-node-js-inside-cloud9-ide/") Connecting OpenCV and Node.js inside Cloud9 IDE
   li
    a(href="http://computer-vision-talks.com/2013/08/cloud-image-processing-using-opencv-and-node-js/") Cloud image processing using OpenCV and Node.js

  b Cutting a long story shorter:
  br
  p Entry point 
   b index.js
  script(src="https://gist.github.com/anonymous/6357398.js")

  br
  p C++ Node.js module 
   b main.cpp
   
  script(src="https://gist.github.com/anonymous/6357414.js")

  h2 Output of the cv::getBuildInformation()
  pre(style="width:800px; height:300px; overflow: scroll;") #{opencv_info}
  