doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/github-forkme.css')
  body
    span(id="forkongithub")
      a(href="https://github.com/BloodAxe/CloudCV") Fork me on GitHub

    //script(src="/javascripts/github-forkme.js")
    block content
        
    a(href="https://twitter.com/share",class="twitter-share-button",data-text="Check this demo cloud image processing using @OpenCV and Node.js",data-via="cvtalks",data-size="large",data-hashtags="OpenCV") Tweet
    
    p Created and maintained by Ievgen Khvedchenia. Visit my website 
     a(href="http://computer-vision-talks.com") Computer Vision Talks
    
    script(src="/javascripts/ga.js")
    script(src="/javascripts/twitter-share.js")
